*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
}
body{
    padding: 35;
    font-family: helvetica, Arial, sans-serif;
    font-weight: bold;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.6em;
}
h3{
    font-size: 1.2em;
    letter-spacing: -1px;
    text-indent: 20px;
    line-height: 1em;
}
span{
    text-decoration: line-through;
    
}
em{
    text-transform: capitalize;
    
}
strong{
    text-transform: uppercase;
    font-weight: 500;
    
}
/* CSS Borders */
.borderbox{
    background: #fc3;
    margin: 0 0 20px;
    padding: 30px;
    width; 320;
    text-align: center;
    
}
#box1 {border: solid 1px black;}
#box2 {border: dashed 1px black;}
#box3 {border: dotted 1px black;}
#box4 {border: double 3px black;}
#box5 {border: solid 5px black;}
#box6 {border: dashed 5px black;}
#box7 {border: dotted 5px black;}
#box8 {border: double 5px black;}